
.hero {
    @media (min-width: 768px) {
      display: flex;
      background: url('../img/hero.jpg') top center no-repeat;
      height: 100vh;
      background-size: contain;
      position: relative;
      top: 130px;

      @media (min-width: 1150px) {
      }







  }
}
