
.hero {
  @media (min-width: $break1) {
    display: flex;
    background: url('../img/hero.jpg') top center no-repeat;
    height: 824px;
    width: 100%;
    background-size: contain;
    position: relative;
    top: -60px;
  }

}
.about {
  font-family: $font;
  font-size: 25px;
  color: $rust;
  margin: 15px;
  margin-top: 110px;
  text-align: justify;

  @media (min-width:$break1) {
    margin-top: -50px;

  }

    img {
      width: 100%;
      border-radius: 4px;
      margin: 20px 0;
      border: 1pt solid $rust;
    }
}

.container {
  @extend .about;

  @media (min-width:$break1) {
    margin-top: 110px;

  }

  h3 {
    font-size: 30px;
  }

  h2 {
    margin-bottom: 35px;
  }

  ul {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
