@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

$card-height: 300px;
$card-width: 320px;
$title-height: 64px;
$transition-time: 0.75s;
$card-color: #7DB5A5;
$buttonColor: #AFA47E;
