@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

$card-height: 300px;
$card-width: 320px;
$title-height: 64px;
$transition-time: 0.75s;
$blue: #7DB5A5;
$card-color: #496818;

$buttonColor: #AFA47E;
// $bgbeige: #C8C8A9;
$bgbeige: #685F18;

$fontColor: #AEBC99;
$rust: #681821;
$header: lighten($rust, 20%);
$font: 'Lateef', cursive;
$break1: 768px;
$break2: 768px;
