*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.body {
  background-color: #eee0c8;
  height: 100vh;
  border-radius: 5px;
  overflow-x: hidden; }

header {
  display: none; }
  @media (min-width: 768px) {
    header {
      display: none;
      height: 100px;
      background-color: #496818;
      border: 1px solid #681821;
      padding: 10px;
      width: 100%;
      z-index: 99999;
      background-color: #685F18;
      background-image: -webkit-linear-gradient(#685F18, #7DB5A5);
      background-image: linear-gradient(#685F18, #7DB5A5);
      background-color: #685F18;
      background-image: -webkit-linear-gradient(-320deg, #685F18 0%, #7DB5A5 100%);
      background-image: linear-gradient(50deg,#685F18 0%, #7DB5A5 100%); } }
  header img {
    display: block;
    margin-left: auto;
    padding-left: 20px;
    margin-right: auto;
    z-index: 10;
    margin-top: 100px; }
    @media (min-width: 768px) {
      header img {
        height: 60px;
        margin-left: -6px;
        margin-top: 9px; } }
  header .mobileHead {
    display: flex;
    flex-direction: column;
    top: 200px; }
    header .mobileHead .brokenPPP {
      font-family: "Amatic SC", cursive;
      z-index: 100;
      flex: 1;
      margin-top: -265px;
      text-align: center;
      color: #AEBC99;
      font-size: 40pt;
      text-shadow: 2px 2px #681821; }
      @media (min-width: 768px) {
        header .mobileHead .brokenPPP {
          font-size: 19pt;
          text-align: left;
          margin-top: -76px;
          margin-left: 90px;
          line-height: 30px; } }
  header #hamburger {
    z-index: 1010;
    position: relative;
    margin-left: 30px;
    margin-top: -415px;
    width: 36px;
    font-size: 30px;
    color: #681821;
    border: 2pt solid #681821;
    border-radius: 5pt;
    padding: 5px 2px;
    padding-bottom: 7px; }
    header #hamburger:hover {
      background-color: #AEBC99; }
    header #hamburger:focus {
      background-color: #AEBC99; }
    @media (min-width: 768px) {
      header #hamburger {
        display: none; } }
  header #logout {
    display: none; }
  header .dropdown {
    z-index: 1000; }
  header .dropdown-menu {
    background-color: #AFA47E;
    background-image: -webkit-linear-gradient(#AFA47E, #496818);
    background-image: linear-gradient(#AFA47E, #496818);
    background-color: #AFA47E;
    background-image: -webkit-linear-gradient(-320deg, #AFA47E 0%, #496818 100%);
    background-image: linear-gradient(50deg,#AFA47E 0%, #496818 100%);
    border-radius: 15pt; }
    @media (min-width: 768px) {
      header .dropdown-menu {
        display: none; } }
  header .expandedNav {
    display: none; }
    @media (min-width: 768px) {
      header .expandedNav {
        display: flex;
        margin-top: 0px; }
        header .expandedNav ul {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          height: 40px;
          border: 1pt solid #681821;
          width: 100vw;
          top: -5px;
          left: -11px;
          padding: 0;
          background-color: #AFA47E;
          background-image: -webkit-linear-gradient(#AFA47E, #AEBC99);
          background-image: linear-gradient(#AFA47E, #AEBC99);
          background-color: #AFA47E;
          background-image: -webkit-linear-gradient(-320deg, #AFA47E 0%, #AEBC99 100%);
          background-image: linear-gradient(50deg,#AFA47E 0%, #AEBC99 100%); }
          header .expandedNav ul li {
            list-style-type: none;
            padding-top: 4px; }
            header .expandedNav ul li a {
              font-weight: bolder;
              font-family: "Amatic SC", cursive;
              color: #681821;
              font-size: 20px;
              margin-top: 35px; } }

.dropdown > a {
  transition: all 0.2s ease-in; }

.dropdown-menu.animated {
  animation-duration: 0.55s;
  animation-timing-function: ease; }

.dropdown-menu.animated.fadeIn {
  animation-duration: 0.45s;
  animation-timing-function: ease-out; }

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px; }
  .galleryContainer .plantCard {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    height: 300px;
    width: 320px;
    overflow: hidden;
    border: 1px solid #496818;
    border-radius: 3px;
    margin: 10px; }
    .galleryContainer .plantCard .deleteButt {
      position: absolute;
      background-color: #496818;
      border: none;
      outline: none;
      border-radius: 3px; }
      .galleryContainer .plantCard .deleteButt p {
        margin: 0;
        font-size: 11px;
        color: #AEBC99; }
    .galleryContainer .plantCard .modal-content {
      margin-top: 200px; }
    .galleryContainer .plantCard #modalClickthru {
      outline: none; }
    .galleryContainer .plantCard .plantImg {
      width: 100%;
      height: 100%; }
      .galleryContainer .plantCard .plantImg:hover {
        opacity: 0.6; }
    .galleryContainer .plantCard .plantInfo {
      position: absolute;
      top: 236px;
      height: 300px;
      width: 100%;
      color: #fff;
      background-color: #496818;
      opacity: 0.9;
      transition: transform 0.75s; }
      .galleryContainer .plantCard .plantInfo:hover {
        transform: translateY(-236px); }
      .galleryContainer .plantCard .plantInfo .detailsTitle {
        height: 44px;
        font-size: 20px;
        padding-left: 7px;
        padding-top: 3px; }
        .galleryContainer .plantCard .plantInfo .detailsTitle small {
          font-size: 70%;
          color: #f7f7f7; }
      .galleryContainer .plantCard .plantInfo .detailsBody {
        margin: 19px;
        text-align: center; }

@media (min-width: 768px) {
  .hero {
    display: flex;
    background: url("../img/hero.jpg") top center no-repeat;
    height: 100vh;
    background-size: contain;
    position: relative;
    top: -5px;
    border: 1px solid black;
    z-index: 100; } }

.return, .new, .WTFmichelle {
  background-color: #685F18;
  color: #AEBC99;
  font-family: "Amatic SC", cursive;
  font-weight: bolder;
  font-size: 25px;
  margin-top: 150px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 5px;
  padding: 15px; }

.new, .WTFmichelle {
  margin-top: 20px; }

/*# sourceMappingURL=main.css.map */
