*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.body {
  background-color: #eee0c8;
  height: 100vh;
  border-radius: 5px;
  overflow-x: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px; }

header {
  display: none; }
  @media (min-width: 810px) {
    header {
      height: 130px;
      background-color: #7DB5A5;
      border: 1px solid #681821;
      width: 100%;
      z-index: 99999;
      background-color: #685F18;
      background-image: -webkit-linear-gradient(#685F18, #7DB5A5);
      background-image: linear-gradient(#685F18, #7DB5A5);
      background-color: #685F18;
      background-image: -webkit-linear-gradient(-320deg, #685F18 0%, #7DB5A5 100%);
      background-image: linear-gradient(50deg,#685F18 0%, #7DB5A5 100%); } }
  header .nav {
    width: 100%; }
  header #world {
    display: block;
    margin-left: auto;
    padding-left: 20px;
    margin-right: auto;
    z-index: 10;
    margin-top: 100px; }
    @media (min-width: 810px) {
      header #world {
        width: 0; } }
  header .mobileHead {
    flex-direction: column; }
    header .mobileHead .brokenPPP {
      z-index: 100;
      font-family: "Amatic SC", cursive;
      margin-top: -265px;
      text-align: center;
      color: #AEBC99;
      font-size: 40pt;
      text-shadow: 2px 2px #681821; }
      @media (min-width: 810px) {
        header .mobileHead .brokenPPP {
          display: none; } }
    header .mobileHead #logo {
      height: 73px;
      margin: 6px 15px;
      margin-bottom: 7px; }
    header .mobileHead .straightPPP {
      display: none; }
      @media (min-width: 810px) {
        header .mobileHead .straightPPP {
          display: block;
          position: relative;
          text-align: center;
          top: -100px;
          font-family: "Amatic SC", cursive;
          color: #AEBC99;
          font-size: 60pt;
          text-shadow: 2px 2px #681821;
          height: 100px; } }
  header #hamburger {
    position: relative;
    margin-left: 30px;
    margin-top: -410px;
    width: 36px;
    font-size: 30px;
    color: #681821;
    border: 2pt solid #681821;
    border-radius: 5pt;
    padding: 5px 2px;
    padding-bottom: 7px; }
    header #hamburger:hover {
      background-color: #AEBC99; }
    header #hamburger:focus {
      background-color: #AEBC99; }
    @media (min-width: 810px) {
      header #hamburger {
        display: none; } }
  header li.dropdown {
    z-index: 1000;
    font-family: "Amatic SC", cursive;
    font-size: 25px; }
    @media (min-width: 810px) {
      header li.dropdown {
        display: none; } }
    header li.dropdown a {
      color: black;
      padding-left: 25px; }
  header .dropdown-menu {
    background-color: #AFA47E;
    background-image: -webkit-linear-gradient(#AFA47E, #7DB5A5);
    background-image: linear-gradient(#AFA47E, #7DB5A5);
    background-color: #AFA47E;
    background-image: -webkit-linear-gradient(-320deg, #AFA47E 0%, #7DB5A5 100%);
    background-image: linear-gradient(50deg,#AFA47E 0%, #7DB5A5 100%);
    height: 99vh;
    width: 100vw;
    position: relative;
    font-size: 35px; }
    @media (min-width: 810px) {
      header .dropdown-menu {
        display: none; } }
    header .dropdown-menu a {
      margin: 20px; }
  header .expandedNav {
    display: none; }
    @media (min-width: 810px) {
      header .expandedNav {
        display: flex;
        margin: -1px;
        margin-top: -100px; }
        header .expandedNav ul {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          height: 40px;
          border: 1pt solid #681821;
          width: 100%;
          margin: 0;
          padding: 0;
          background-color: #AFA47E;
          background-image: -webkit-linear-gradient(#AFA47E, #AEBC99);
          background-image: linear-gradient(#AFA47E, #AEBC99);
          background-color: #AFA47E;
          background-image: -webkit-linear-gradient(-320deg, #AFA47E 0%, #AEBC99 100%);
          background-image: linear-gradient(50deg,#AFA47E 0%, #AEBC99 100%); }
          header .expandedNav ul li {
            list-style-type: none;
            padding-top: 4px;
            align-items: center; }
            header .expandedNav ul li a {
              font-weight: bolder;
              font-family: "Amatic SC", cursive;
              color: #681821;
              font-size: 20px;
              margin-top: 35px;
              flex: 1; }
              header .expandedNav ul li a #logout {
                list-style-type: none;
                font-style: none; } }

.dropdown > a {
  transition: all 0.2s ease-in; }

.dropdown-menu.animated {
  animation-duration: 0.55s;
  animation-timing-function: ease; }

.dropdown-menu.animated.fadeIn {
  animation-duration: 0.45s;
  animation-timing-function: ease-out; }

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 110px; }
  .galleryContainer .plantCard {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    height: 300px;
    width: 320px;
    overflow: hidden;
    border: 1px solid #7DB5A5;
    border-radius: 3px;
    margin: 10px; }
    .galleryContainer .plantCard .deleteButt {
      position: absolute;
      background-color: #7DB5A5;
      border: none;
      outline: none;
      border-radius: 3px;
      z-index: 1000; }
      .galleryContainer .plantCard .deleteButt p {
        margin: 0;
        font-size: 11px;
        color: #AEBC99; }
    .galleryContainer .plantCard .modal-content {
      margin-top: 200px; }
    .galleryContainer .plantCard #modalClickthru {
      outline: none; }
    .galleryContainer .plantCard .plantImg {
      width: 100%;
      height: 100%; }
      .galleryContainer .plantCard .plantImg:hover {
        opacity: 0.6; }
    .galleryContainer .plantCard .plantInfo {
      position: absolute;
      top: 236px;
      height: 300px;
      width: 100%;
      color: #fff;
      background-color: #7DB5A5;
      opacity: 0.9;
      transition: transform 0.75s; }
      .galleryContainer .plantCard .plantInfo:hover {
        transform: translateY(-236px); }
      .galleryContainer .plantCard .plantInfo .detailsTitle {
        height: 44px;
        font-size: 20px;
        padding-left: 7px;
        padding-top: 3px; }
        .galleryContainer .plantCard .plantInfo .detailsTitle small {
          font-size: 70%;
          color: #f7f7f7; }
      .galleryContainer .plantCard .plantInfo .detailsBody {
        margin: 19px;
        text-align: center; }

@media (min-width: 810px) {
  .hero {
    display: flex;
    background: url("../img/hero.jpg") top center no-repeat;
    height: 824px;
    width: 100%;
    background-size: contain;
    position: relative;
    top: -60px; } }

.about, .container {
  font-family: "Amatic SC", cursive;
  font-size: 25px;
  color: #681821;
  margin: 15px;
  margin-top: 110px;
  text-align: justify; }
  @media (min-width: 810px) {
    .about, .container {
      margin-top: -50px; } }
  .about img, .container img {
    width: 100%;
    border-radius: 4px;
    margin: 20px 0;
    border: 1pt solid #681821; }

@media (min-width: 810px) {
  .container {
    margin-top: 110px; } }
.container h3 {
  font-size: 30px; }
.container h2 {
  margin-bottom: 35px; }
.container ul {
  margin-top: 20px;
  margin-bottom: 20px; }

.loginForm {
  margin-top: 110px;
  max-width: 750px;
  min-width: 390px;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .loginForm > div {
    border: 1pt solid #681821; }
  .loginForm .return, .loginForm .new {
    background-color: #AFA47E;
    color: #681821;
    font-family: "Amatic SC", cursive;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 75px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
    padding: 25px; }
  .loginForm .new {
    margin-top: 20px; }
  .loginForm .form-group {
    vertical-align: baseline;
    margin-top: 50px;
    padding-bottom: 10px; }
  .loginForm h3 {
    font-size: 40px;
    text-align: center;
    margin-top: -5px; }
  .loginForm button {
    float: right;
    margin-top: -55px;
    background: transparent;
    border: 1pt solid #681821;
    border-radius: 5px;
    clear: both; }
    .loginForm button:hover {
      background-color: #AEBC99; }
    .loginForm button:focus {
      background-color: #AEBC99; }
  .loginForm label {
    width: 110px; }
  .loginForm select[class="form-control"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #681821;
    width: 60%;
    outline: none;
    padding: 0px 0px 0px 0px;
    display: inline; }
  .loginForm #password {
    background: transparent;
    border: none;
    border-bottom: 1px solid #681821;
    width: 60%;
    outline: none;
    padding: 0px 0px 0px 0px;
    display: inline; }
  .loginForm input[id="new-name"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #681821;
    width: 60%;
    outline: none;
    padding: 0px 0px 0px 0px;
    display: inline; }
  .loginForm #new-password {
    background: transparent;
    border: none;
    border-bottom: 1px solid #681821;
    width: 60%;
    outline: none;
    padding: 0px 0px 0px 0px;
    display: inline; }

/*# sourceMappingURL=main.css.map */
